/*
These are the fonts we have referenced to google font API

.googlefonts{
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Montserrat', sans-serif;
}
*/

body {
  font-family: 'Montserrat', sans-serif;
  text-align:center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* headings */
.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-background{
  background-color: #ff4c68;
  color: white;
}

.white-background{
  background-color: #fff;
}

/* Navagation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

/* Title Section */

#title .container-fluid {
  padding:3% 15% 7%;
  text-align:left;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.img-title {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* Features Section */
#features {
  position: relative;
}

.feature-title{
    font-size: 1.5rem;
}

.feat-icon {
  color: #ef8172;
  font-size: 4rem;
  margin: 0 0 1rem 0;
}

.feat-icon:hover {
  color: #ff4c68;
}

.feature-box {
  padding: 4.5%;
}

/* Testimonial section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

/* Press section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 13%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-col {
  padding: 3% 2%;
}

.sales-pkg{
  font-size: 1.5rem;
}

/* Call to Action section */

/* Footer section */
.ftr-fab {
  margin: 0 15px 30px 15px;
}

/* Fix layout issues with smaller viewport */
@media (max-width: 1028px) {
  #title {
  text-align:center;
  }

  .img-title {
    position: static;
    transform: rotate(0);
  }
}
